/*元素选择器*/
html {
    /* px 表示 “像素（pixels）”: 基础字号为 10 像素 */
    font-size: 16px;
    /* Google fonts 输出的 CSS */
    font-family: 'Ruslan Display', cursive;
    background-color: burlywood;
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: royalblue;
    text-shadow: 30px -10px 6px black;
    text-align: center;
}

p,li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: 0 auto;
}

/*ID选择器*/
#my-id {
    color: green;
}

/*类选择器*/
.my-class {
    color: blue;
}

/*属性选择器*/
img[src] {
    border: silver 3px solid;
}

/*伪（Pseudo）类选择器: 特定状态下的特定元素（比如鼠标指针悬停）*/
a:hover {
    color: gray;
}